      body {
        padding-top: 20px;
        padding-bottom: 40px;
		/*overflow-x:hidden;*/
      }
      h2{
        color:#C94AB6;
      }
      iframe{
        border:#00CCFF solid 5px;
      }
      img#imgLeParc{
        border:#995FB8 solid 5px;
      }
      #fecha{
        width:176px;
        height:55px;
        background:url('../img/fecha.png') no-repeat;        
      }
      #nubes,#montes,#edificios1,#edificios2,#edificios3,#edificios4{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:420px;
		margin:0 auto;
      }
	  #header-fondo{
        background:#00CCFF;
		z-index:-12;
		width:100%;
		height:420px;
		position:absolute;
		top:0;
		left:0;
	  }
	  #nubes{
        background:transparent url('../img/nubes.png') repeat-x;
		z-index:-11;
		position:absolute;
		top:89px;
	  }
	  #montes{
        background:transparent url('../img/montes.png') repeat-x;
		z-index:-10;
		position:absolute;
		top:294px;
	  }
	  #edificios1{
        background:transparent url('../img/edificios1.png') repeat-x;
		z-index:-9;
		position:absolute;
		top:348px;
	  }
	  #edificios2{
        background:transparent url('../img/edificios2.png') repeat-x;
		z-index:-8;
		position:absolute;
		top:293px;
	  }
	  #edificios3{
        background:transparent url('../img/edificios3.png') repeat-x;
		z-index:-7;
		position:absolute;
		top:352px;
	  }
	  #edificios4{
        background:transparent url('../img/edificios4.png') no-repeat;
		z-index:-6;
		position:absolute;
		top:145px;
		width:676px;
		margin-left:-338px; 
		left:50%;
		height:276px;
	  }
	    #ggjm-logo{
        margin-left:-200px;
        left:50%;
        top:120px;
        position:absolute;
      }
      .large-header{
        width:100%;
      }
      .presentacion{
        color:#00CCFF;
        text-align:center;
      }
      .featurette-divider{
        margin: 80px 0;
      }
      hr#hrHeader,hr#hrHeaderResponsive{
        border-bottom:#ffffff solid thin;
      }
      .redesSociales{
        float:right;
        margin-top:-90px;
      }
      #horarios{
        color:#50006E;
        font-weight:bold;
        font-size:1.3em;
      }
		#mapa iframe{
        height:350px;
		}
      .miLista{
        color:#50006E;
      }
	  	#dondeEs .pull-right{
		width:50%;
	}
      #horarios li,#dinamica li{
        margin-top: 10px;
      }
      h3,.horario{
        font-weight:bold;
        color:#995FAF;
      }
    .featurette {
      overflow: hidden;
    }
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -60px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      .jumbotron {
        margin: 220px 0 100px;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      footer {
        width:100%;
        position:absolute;
        left:0;
        background-color: #f5f5f5;  
        margin-top:80px;      
      }
      footer iframe{
        border:none;
        width:80%;
        height:80px;
      }
    .container {
        width: auto;
        max-width: 680px;
        padding:20px 10px 10px;
      }
      .link{
        color:#D741B3;
        font-weight:normal;
        text-decoration:underline;
      }
      .link:hover{
        color:#96379B;
      }
	  .link img {
		margin-right:10px;
	  }
	  .copy {
		font-size: 10px;
		clear:both;
	  }
      
      /* Sponsors */
<<<<<<< HEAD
	  
	  #sponsors {
		margin:0 auto;
        text-align:center;
        list-style:none;
      }
      #sponsors  li{
=======

      
      ul.sponsors {
        text-align:center;
        list-style:none;
      }
      
      ul.sponsors  li{
>>>>>>> f8adf4099e6e0b9fde9b08a9f3dc3383893a1097
        float: left;
      }
      
	  
      @media (max-width: 767px) {
        footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right:0;
        }
      }
    @media (max-width: 979px) {
      header.large-header{
		padding-top:10px;
	  }
      .jumbotron {
        margin-top: 180px;
      }
      .redesSociales{
        margin-top:-70px;
      }
      .featurette, iframe {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right,
      .pull-right{
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
	#dondeEs .pull-right{
		max-width:100%;
		width:100%;
	}	  
      #mapa{
        width: 100%;
      }
		#mapa iframe{
        width:90%;
		}
      #hrHeader{
        display:none;
      }
	  #sponsors img{
		max-width:40%;
      }
    }
    @media (max-width: 660px) {
      ul.nav.nav-pills.pull-right{
        max-width:none;
      }
      #fecha{
        display:none;
      }
	  #edificios4{
        display:none;
	  }
      .jumbotron {
        margin-top: 250px;
      }
      .redesSociales{
        text-align:center;
        float:none;
        margin-top:-60px;
      }
    }
    @media (max-width: 470px) {
      /*#mapa iframe{
        width:95%;
      }*/
    }
    @media (max-width: 370px) {
      #ggjm-logo{
        width:90%;
        margin-left:-45%;
      }
      footer{
        padding:0;
        margin:0;
      }
    }  
      @media (min-width: 1024px) {
        .container-narrow {
          max-width: 900px;
        }
		#mapa iframe{
        width:425px;
        height:350px;
		}
        hr#hrHeaderResponsive{
          display:none;
        }
      }
